<div class="navbar-wrapper">
  <div onclick="toggleSidebar()" id="toggle-sidebar" class="hamburger-icon">
    <div class="hamburger-line hamburger-line-one"></div>
    <div class="hamburger-line hamburger-line-two"></div>
  </div>
  <%= link_to (render 'shared/mobile-logo'), root_path %>
  <% if user_signed_in? %>
    <div class="avatar-wrapper" data-toggle="dropdown">
      <% avatar_url = current_user.facebook_picture_url || "https://www.hilfsgemeinschaft.at/profiles/hilfsgemeinschaft_profile/themes/custom/hilfsgemeinschaft_zomg/images/user-picture-default.png" %>
      <%= image_tag avatar_url, class: "avatar-round" %>
    </div>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <%= link_to "Action", "#", class: "dropdown-item" %>
      <%= link_to "Another action", "#", class: "dropdown-item" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  <% else %>
    <h5><%= link_to "Login", new_user_session_path %></h5>
  <% end %>
</div>

<div class="sidebar">
  <%= render 'shared/sidebar' %>
</div>

<script>
  function toggleSidebar() {
    document.querySelector('.sidebar').classList.toggle('show');
    document.querySelector('.hamburger-icon').classList.toggle('hamburger-x');
    document.querySelector('body').classList.toggle('stop-scrolling');
    document.querySelector('#body-content').classList.toggle('shift-content');
    document.querySelector('.navbar-wrapper').classList.toggle('shift-content');
  }
</script>
