<h4><%= link_to "Start", root_path %></h4>
<div onclick="toggleCategories()" id="toggle-categories">
  <h4>Kategorien <i class="fas fa-sort-down"></i></h4>
</div>
<div class="category-list">
  <% Category.order(:name).each do |category| %>
    <h4><%= link_to category.name, category_path(category) %></h4>
  <% end %>
</div>
<h4><%= link_to "Über uns", about_path %></h4>
<h5><%= link_to "Impressum", impressum_path %></h5>
<h5><%= link_to "Datenschutz", privacy_path %></h5>

<script>
  function toggleCategories() {
    document.querySelector('.category-list').classList.toggle('show');
    document.querySelector('.fa-sort-down').classList.toggle('rotate');
  }
</script>
