<div class="container">
  <div class="gradient" style="position: relative;">
    <% if mobile_device == "mobile" %>
      <%= cl_image_tag @event.photo.key, height: 300, width: 400, crop: :fill, class: "image-full-width-30" %>
    <% else %>
      <%= cl_image_tag @event.photo.key, height: 600, width: 800, crop: :fill, class: "image-full-width-50" %>
    <% end %>
    <% if UserFavourite.where(user: current_user).find_by_event_id(@event.id) %>
      <% bookmark = UserFavourite.where(user: current_user).find_by_event_id(@event.id) %>
      <%= link_to '<i class="fas fa-heart"></i>'.html_safe, event_user_favourite_path(@event, bookmark), method: :delete, remote: true, class: "bookmark-icon bookmarked data-event-#{@event.id}" %>
    <% else %>
      <%= link_to '<i class="far fa-heart"></i>'.html_safe, event_user_favourites_path(@event), method: :post, remote: true, class: "bookmark-icon data-event-#{@event.id}" %>
    <% end %>
  </div>


  <div class="border-bottom-blue">
    <%= render 'shared/dynamic-header' %>
  </div>

  <p class="spacing-top-1 padding-bottom-1 padding-left-1 padding-right-1 border-bottom-blue"><%= @event.description %></p>

  <h4 class="about-header">Zur Seite: <a href="<%= @event.amazon_link %>" target="_blank"><i class="fas fa-external-link-alt"></i></a></h4>
</div>
