<img src="<%= @category.image_url %>" alt="<%= @category.name %> title cover" class="image-full-width-30">

<div class="border-bottom-blue">
  <h2 class="highlighted-header spacing-left-half spacing-top-half spacing-bottom-half"><%= @category.name %></h2>
</div>

<div class="highlighted-header spacing-top-1 spacing-left-1">
  <h2>Aktuell beliebt</h2>
</div>

<div class="event-slider-mobile border-bottom-blue">
  <% @events.first(5).each do |event| %>
    <%= link_to (render 'shared/event-card-slider', event: event), event_path(event) %>
  <% end %>
</div>

<div class="highlighted-header spacing-top-1 spacing-left-1">
  <h2>Alle <%= @category.name %></h2>
</div>

<div class="event-grid">
  <% @events[5..].each do |event| %>
    <%= link_to (render 'shared/event-card', event: event), event_path(event) %>
  <% end %>
</div>
